nav {
	background-color: lightblue;
}

.navbar-fixed{ z-index: 1000; }﻿

body {
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	min-height: 100vh
}

/*main {
	flex: 1 0 auto
}*/

.show {
	margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 150px;
    }
}

.page-footer{
	background-color: lightblue;
}