nav {
	background-color: lightblue;
}

.navbar-fixed{ z-index: 1000; }﻿

body {
	height: 1000px
}

.show {
	margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 150px;
    }
}